@page "/Goals/delete"
@using MongoDB.Driver
@inject PersonalPlanner.Data.MongoDBContext DB
@using PersonalPlanner
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Goal</h4>
    <hr />
    @if (Goal is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@Goal.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">GoalDate</dt>
            <dd class="col-sm-10">@Goal.GoalDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@Goal.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@Goal.Amount</dd>
        </dl>
        <EditForm method="post" Model="Goal" OnValidSubmit="DeleteGoal" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(Goal is null)">Delete</button> |
            <a href="/Goals">Back to List</a>
        </EditForm>
    }
</div>

@code {
    Goal? Goal;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            NavigationManager.NavigateTo("/Goals");
            return;
        }

        var filter = Builders<Goal>.Filter.Eq(g => g.Id, Goal?.Id);
        Goal = await DB.Goal.Find(filter).FirstOrDefaultAsync();

        if (Goal == null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteGoal()
    {
        if (Goal == null) return;

        var filter = Builders<Goal>.Filter.Eq(g => g.Id, Goal.Id);
        var deleteResult = await DB.Goal.DeleteOneAsync(filter);

        if (deleteResult.DeletedCount == 0)
        {
            NavigationManager.NavigateTo("notfound");
        }
        else
        {
            NavigationManager.NavigateTo("/Goals");
        }

        @* DB.Goal.Remove(Goal!);
await DB.SaveChangesAsync();
NavigationManager.NavigateTo("/Goals"); *@
    }
}